extends layout

block content
      .ui.grid
        .twelve.wide.column
          ul
            - each article, i in articles
                li
                    = article.title
                    br
                    = article.tags
                    br
                    a(href='/articles/#{article._id}') Show
                    br
                    br