doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.2/css/selectize.min.css')
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/js/standalone/selectize.min.js")
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.css')
    script(src="//cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.js")
    script(src="/javascripts/main.js")
  body
    .ui.container
      br
      .ui.secondary.menu
        .header.item
            a(href='/') Simple CMS
        a.item(href='/articles')
          | Article
        a.item(href='/categories')
          | Category
        .right.menu
          if (!user)
            a.ui.item(href='/login')
              | Login
          if (user)
            a.ui.item(href='/logout')
              | Logout
            a.ui.item(href='')
              #{user.username}
      .ui.divider
      br
      block content
