extends ../layout

block content
      .ui.grid
        .four.wide.column
          .ui.secondary.vertical.pointing.fluid.menu
            a.item
              | All
            a.item
              | Posted
            a.item
              | Draft
            a.item(href='/articles/new')
              | New
        .twelve.wide.column
          form.ui.form#formAddArticle(name="addArticle",method="post",action="/articles")
            .field
              label Title
              input#inputTitle(type="text", placeholder="ex. Black Knight", name="title")
            .field
              label Body
              textarea#inputBody(type="text", name="body")
            .field
              label Category
              select#select.ui.dropdown(name='category')
                  option(value="") Category
                  - each category, i in categories
                    option(value='#{category.name}') #{category.name}
            .field
              label Tags
              .ui.left.icon.input
                i.tags.icon
                input#inputTags(type="text", placeholder="ex. story, tips", name="tags")
            .field
              label Save as draft
              input#inputDraft(type="checkbox", name="draft")
            button.ui.button#btnSubmit(type="submit") Submit