extends layout

block content
      #page-wrapper
        .container-fluid
          // Page Heading
          .row
            .col-lg-12
              h1.page-header
                | Post 
                small New Article
          // /.row
          .row
            .col-lg-12
              form#formAddArticle(role='form', name='addArticle', method='post', action='/articles')
                .form-group
                  label Title
                  input.form-control#inputTitle(type='text', name='title', placeholder='Title here', required)
                .form-group
                  label Body
                  textarea#inputBody.form-control(rows='3', type='text', name='body', required)
                .form-group
                  label Category
                  select.form-control(name='category', required)
                    option(hidden) Choose category
                    - each category, i in categories
                      option(value='#{category.name}') #{category.name}
                .form-group
                  label Tags
                  input#inputTags(type='text', name='tags', placeholder='Separate tags with comma', required)
                .form-group
                  label Save as draft
                  input#inputDraft(type='checkbox', name='draft')
                button.btn.btn-default(type='submit') Submit