extends ../articles/layout

block content
      #page-wrapper
        .container-fluid
          .page-header
            h1 All Categories
          - each category, i in categories
            .bs-callout
              h4
                p #{category.name}
              br
              a(href='/categories/#{category._id}/edit')
                button.btn.btn-default(type='button') Edit
              form(action='/categories/#{category._id}/edit', method='post', enctype='application/x-www-form-urlencoded')
                input(type='hidden', value='DELETE', name='_method')  
                button.btn.btn-default(type='submit', onclick="return confirm('Are you sure?');") Delete
