extends ../articles/layout

block content
      #page-wrapper
        .container-fluid
          // Page Heading
          .row
            .col-lg-12
              h1.page-header
                | Post 
                small New Category
          // /.row
          .row
            .col-lg-12
              form#formAddArticle(role='form', name='addCategory', method='post', action='/categories')
                .form-group
                  label Name
                  input.form-control#inputTitle(type='text', name='name', placeholder='Cateegory name here')
                button.btn.btn-default(type='submit') Submit