extends ../articles/layout

block content
      #page-wrapper
        .container-fluid
          .page-header
            h1 #{title}
          .row
            .col-lg-12
              form#formAddArticle(role='form', name='addCategory', method='post', action='/categories')
                .form-group
                  label Name
                  input.form-control#inputTitle(type='text', name='name', placeholder='Category name here', required)
                button.btn.btn-default(type='submit') Submit